@import "../../../variables/variables.module.css";

.checkbox {
  width: 2rem;
  height: 2rem;
  border-radius: 0.7rem;
  border: 0.2rem solid var(--primaryColor);
}

.label {
  font-size: var(--step--1);
}
