@import "../../variables/variables.module.css";

.hero-text-wrapper {
  background-color: var(--blackTransparent);
  padding: 4rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: var(--step-5);
  font-weight: 700;
  margin-bottom: 2rem;
  color: rgb(241, 241, 241);
}

.paragraph {
  font-size: var(--step-3);
  font-weight: 700;
  line-height: 1.2;
  color: rgb(241, 241, 241);
}

.loading {
  width: 36rem;
}
