@import "../../variables/variables.module.css";

.heading {
  font-size: var(--step-5);
  font-weight: 900;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: var(--step-3);
  font-weight: 900;
  line-height: 1.2;
}

.loading {
  width: 36rem;
}
