@import "../../variables/variables.module.css";

.heroContent-container {
  max-width: 144rem;
  width: 100%;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--blackTransparent);
  max-width: 70.6rem;
  max-height: 48.5rem;
  width: 40%;
  border-radius: 2rem;
  padding: 3.5rem 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}

.hero-label {
  color: var(--white);
  font-size: var(--step-0);
  line-height: 2rem;
  text-align: center;
}

.hero-label-container {
  background-color: var(--primaryColor);
  height: 6.5rem;
  border-radius: 1rem 0 0 1rem;
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-select {
  width: 62%;
  border-radius: 0 1rem 1rem 0;
  text-align: center;
  padding: 0 4rem 0 0rem;
  cursor: pointer;
  color: #525252;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  display: flex;
  width: 100%;
}

.date {
  width: 62%;
  text-align: center;
  border-radius: 0 1rem 1rem 0;
  padding: 0 2rem 0 2rem;
  cursor: pointer;
  color: #525252;
  border: none;
}

.chevron {
  margin: 2.5rem 0 0 -4rem;
  pointer-events: none;
}

.car-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 1rem;
}

.truck-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: 1rem;
}

.car-type-container {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.submit-link {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  background-color: var(--secondaryColor);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.submit-btn {
  width: 100%;
  background-color: transparent;
  color: var(--white);
  border: none;
  text-transform: uppercase;
  font-size: var(--step-0);
  font-weight: bold;
  cursor: pointer;
}

.submit-btn-error {
  width: 100%;
  height: 6rem;
  border-radius: 1rem;
  background-color: var(--secondaryColor);
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--step-0);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.submit-btn-error:hover,
.submit-link:hover {
  background-color: var(--primaryColor);
}

select {
  background-color: var(--white);
  border: 0.1rem solid var(--primaryColor);
}

@media screen and (max-width: 1040px) {
  .heroContent-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 4rem;
  }

  .form {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .form {
    padding: 2rem;
    width: 95%;
    max-height: 200rem;
    gap: 2rem;
  }

  .hero-select,
  .date {
    font-size: var(--step-0);
    padding: 2rem;
    border-radius: 0 0 1rem 1rem;
  }

  .container {
    flex-direction: column;
  }

  .hero-label-container,
  .hero-select,
  .date {
    width: 100%;
  }

  .hero-label-container {
    border-radius: 1rem 1rem 0 0;
  }

  .chevron {
    display: none;
  }
}
