.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mySwiper2 {
  height: 40rem;
  width: 100%;
}

.mySwiper {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-nav-prev,
.swiper-nav-next {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  z-index: 11;
}

.swiper-nav-prev {
  top: 22%;
  left: 2.5%;
}

.swiper-nav-next {
  top: 22%;
  right: 2.5%;
}

.swiper-nav-prev,
.swiper-nav-next {
  user-select: none;
  background-color: var(--white);
  border-radius: 50%;
  width: 3.8rem;
  height: 3.8rem;
}

.arrow-left,
.arrow-right {
  color: var(--primaryColor);
  width: 3.8rem;
  height: 3.8rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}
