@import "../../variables/variables.module.css";

.container {
  border-radius: 2rem;
  overflow: hidden;
  margin: auto;
  max-width: 132rem;
  display: flex;
  margin-bottom: 8rem;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.header {
  color: var(--white);
  font-size: var(--step-2);
  margin-bottom: 2rem;
}

.paragraph {
  color: var(--white);
  font-size: var(--step-0);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  width: 60%;
  background-color: var(--primaryColor);
  padding: 4rem;
}

.img-container {
  width: 40%;
}
