@import "../../../variables/variables.module.css";

.select {
  width: 14rem;
  text-align: center;
  padding: 1rem;
  border-radius: 0.7rem;
  text-transform: uppercase;
}

.button {
  background-color: var(--secondaryColor);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.form {
  display: flex;
  gap: 1rem;
}

select {
  background-color: var(--white);
}

@media screen and (max-width: 1510px) {
  .form {
    max-width: 40rem;
  }
}

@media screen and (max-width: 700px) {
  .form {
    flex-direction: column;
    width: 95%;
    align-items: center;
  }

  .select {
    width: 95%;
  }
}
