@import "../../variables/variables.module.css";

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 155rem;
  margin: auto;
  width: 70%;
}

.swiper {
  margin-bottom: 12rem;
  max-width: 132rem;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-nav-prev,
.swiper-nav-next {
  position: absolute;
  display: inline-block;
  z-index: 10;
  cursor: pointer;
}

.swiper-nav-prev {
  top: 28%;
  left: 2%;
}

.swiper-nav-next {
  top: 28%;
  right: 2%;
}

.arrow-left,
.arrow-right {
  color: var(--primaryColor);
  width: 4.2rem;
  height: 4.2rem;
}

@media screen and (max-width: 1510px) {
  .swiper {
    width: 95%;
    max-width: 100rem;
  }

  .carousel-container {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  .swiper {
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 850px) {
  .swiper-nav-prev,
  .swiper-nav-next {
    display: none;
  }
}
