@import "../../../variables/variables.module.css";

.radiobutton[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-label {
  cursor: pointer;
  display: inline-block;
  background-color: var(--primaryColor);
  color: var(--white);
  padding: 1.5rem 4rem;
  font-family: sans-serif, Arial;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  text-transform: uppercase;
  text-align: center;
}

.radiobutton[type="radio"]:checked + label {
  background-color: var(--secondaryColor);
}

.car-type {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 50%;
  background-color: var(--primaryColor);
  border: none;
  height: 7rem;
  color: var(--white);
  border-radius: 1rem;
  font-size: var(--step-0);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .radio-label {
    width: 100%;
    padding: 1.5rem 0;
  }
}
